@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
}

body {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../public/bgPattern.png");
    overflow-x: hidden;
}

.hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
}

.canvas-loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: spin 1.1s infinite ease;
    transform: translateZ(0);
}

.stars-canvas-container {
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;
    z-index: -1;
}